In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'C:\Users\lisag\Desktop\CF Work\Immersion 6 Tasks'

In [5]:
df = pd.read_csv(os.path.join(path, 'USA Real Estate Cleaned No Outliers.csv'))

In [7]:
# drop 'Unnamed: 0' column
df = df.drop(columns = ['Unnamed: 0'])

In [9]:
# change 'brokered_by' to object/string data type
df['brokered_by'] = df['brokered_by'].astype('str')

In [11]:
# change 'zip_code' to object/string data type
df['zip_code'] = df['zip_code'].astype('str')

In [13]:
# convert to datetime format and replace zeros will NaT (Not a Time)
df['prev_sold_date'] = pd.to_datetime(df['prev_sold_date'], errors='coerce')

In [15]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,Adjuntas,Puerto Rico,601.0,920.0,1970-01-01
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,Adjuntas,Puerto Rico,601.0,1527.0,1970-01-01
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,Juana Diaz,Puerto Rico,795.0,748.0,1970-01-01
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,Ponce,Puerto Rico,731.0,1800.0,1970-01-01
4,103378.0,for_sale,179000.0,4.0,3.0,0.46,San Sebastian,Puerto Rico,612.0,2520.0,1970-01-01

In [17]:
df.dtypes

brokered_by               object
status                    object
price                    float64
bed                      float64
bath                     float64
acre_lot                 float64
city                      object
state                     object
zip_code                  object
house_size               float64
prev_sold_date    datetime64[ns]
dtype: object

In [19]:
# rename columns
df.rename(columns = {'brokered_by' : 'Broker Number', 'status': 'House Status', 'price': 'House Price', 
                     'bed': 'N. Beds', 'bath': 'N. Baths', 'acre_lot' : 'N. Acres', 'city' : 'City', 'state' : 'State', 'zip_code' : 'Zip Code', 
                     'house_size' : 'House SQFT', 'prev_sold_date' : 'Last Sell Date' }, inplace = True)

In [21]:
# export cleaned dataframe
df.to_csv(os.path.join(path, 'USA Real Estate Final.csv'))